.details{
    margin: 3px 0;
    position: relative;

    &__container{
        margin: 0px 15px;
    }

    &__context-menu{
        position: absolute;
        background: var(--background_first);
        border: 1px solid var(--border);
        z-index: 1000;
        display: none;

        & button{
            display: block;
            width: 100%;
            padding: 8px 16px;
            text-align: left;
            background: none;
            border: none;
            cursor: pointer;
            color: var(--font-color);
            font-family: Roboto, sans-serif;
            font-size: 16px;

            &:hover{
                background-color: var(--border);
                color: var(--font-color_active);
            }
        }
    }
}

.tree-catalog{
    &__item{
        margin: 5px 0;
        position: relative;
    }

    &__arrow{
        &:before{
            content: url(../_tree/img/arrow_tree.svg);
            position: relative;
            transition: transform 0.2s;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
        }
    }

    &__header{
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        padding-top: 3px;
        padding-bottom: 3px;
        user-select: none;
        outline: none;
        border: none;

        &:before{
            content: url(../_tree/img/folder.svg);
            position: relative;
            transition: transform 0.2s;
            margin-right: 5px;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
        }

        &:hover{
            background: var(--expand-button-active);
            outline: none;
            border: none;
        }

        &:hover .tree-catalog__text{
            color: var(--font-color-button) !important;
        }

        &_active{
            background: var(--expand-button-active);
            outline: none;
            border: none;
        }

        &_active .tree-catalog__text{
            color: var(--font-color-button) !important;
        }

        &_active .tree-catalog__arrow:before,
        &:hover .tree-catalog__arrow:before{
            filter: var(--img-button_color_white);
            -webkit-filter: var(--img-button_color_white);
        }

        &_deleted{
            text-decoration: line-through var(--red);
        }

        &_no-children .tree-catalog__arrow:before{
            content: none;
        }

        &_no-icon:before{
            content: none;
        }
    }

    &__header &__arrow{
        position: absolute;
        left: 10px;
        transition: transform 0.2s;
    }

    &__header &__arrow.collapsed{
        transform: rotate(90deg);
    }

    &__text-container{
        display: flex;
        gap: 5px;
    }

    &__text{
        color: var(--font-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;

        &_span{
            border: 1px solid var(--border);
            padding: 3px;
        }
    }

    &__children-container{
        padding-left: 20px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        &.collapsed{
            max-height: 0 !important;
        }
    }
}