.details{
    margin: 3px 0;
    position: relative;

    &__container{
        margin: 0px 15px;
    }

    &__context-menu{
        position: absolute;
        background: var(--background_first);
        border: 1px solid var(--border);
        z-index: 1000;
        display: none;

        & button{
            display: block;
            position: relative;
            width: 100%;
            padding: 8px 16px;
            text-align: left;
            background: none;
            border: none;
            cursor: pointer;
            color: var(--font-color);
            font-family: Roboto, sans-serif;
            font-size: var(--font_size);

            &:hover{
                background-color: var(--border);
                color: var(--font-color_active);
            }

            &:hover .details__context-menu_tooltip{
                opacity: 1;
                visibility: visible;
            }
        }

        &_tooltip{
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 10px;
            background-color: var(--background_first);
            border: 1px solid var(--border);
            border-radius: 4px;
            width: 225px;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;

            & ul{
                list-style: none;
                margin: 0;
                padding: 10px;
            }

            & li {
                padding: 6px 0;
                border-bottom: 1px solid #eee;
            }
        }
    }
}

#tree_tasks,
#tree_shablons,
#tree_tasks_archive{
    margin-left: 10px;
}

.tree-catalog{
    &__item{
        position: relative;
        margin-top: 5px;
    }

    &__arrow{
        &:before{
            content: var(--tree-arrow-background);
            position: relative;
            transition: transform 0.2s;
        }
    }

    &__head{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    &__head:has(.tree-catalog__header_active){
        background: var(--table-tr-hover);
    }

    &__header{
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        padding-right: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        user-select: none;
        outline: none;
        border: none;
        width: 100%;

        &:before{
            content: var(--tree-folder-background);
            position: relative;
            transition: transform 0.2s;
            margin-right: 5px;
        }

        &:hover .tree-catalog__text{
            color: var(--font-color_active);
        }

        &:hover,
        &_active{
            color: var(--font-color_active);
            background: var(--table-tr-hover);
            backdrop-filter: blur(2px);
        }

        &_active .tree-catalog__text{
            color: var(--font-color_active);
        }

        &_deleted{
            text-decoration: line-through var(--red);
        }

        &_no-children .tree-catalog__arrow:before{
            content: none;
        }

        &_no-icon:before{
            content: none;
        }

        &_control-task{
            border: 1px solid var(--border);
        }
    }

    &__header &__arrow{
        position: absolute;
        left: 15px;
        top: 2px;
        transition: transform 0.2s;
        transform: rotate(270deg);
    }

    &__header &__arrow_task{
        top: 15px;
    }

    &__header &__arrow.collapsed{
        transform: rotate(360deg);
    }

    &__text-container{
        display: flex;
        gap: 10px;
        height: 42px;
    }

    &__text{
        color: var(--font-color);
        font-family: Roboto, sans-serif;
        font-size: var(--font_size);
        font-weight: 400;

        &_span{
            padding: 3px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-main{
                text-wrap: nowrap;
            }

            &-status{
                text-wrap: nowrap;
                width: 33px;
            }

            &-number{
                min-width: 35px;
                text-wrap: nowrap;
                justify-content: center;
            }

            &-text{
                min-width: 125px;
                width: 20%;

                &_main{
                    width: 25%;
                }
            }

            &-user{
                min-width: 100px;
                width: 30%;
            }

            &-dateend,
            &-datebegin{
                align-items: flex-start;
            }

            &-dl{
                min-width: 95px;
                text-wrap: nowrap;
            }

            &-count{
                min-width: 30px;
                margin-right: 35px;
                text-align: center;

                &-title{
                    min-width: 80px;
                    margin-right: 0px;
                }
            }

            &-warning{
                color: #ff3131 !important;
            }
        }
    }

    &__count{
        position: absolute;
        right: 10px;
    }

    &__children-container{
        padding-left: 20px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        &.collapsed{
            max-height: 0 !important;
        }

        &_control-task{
            padding-left: 48px;
        }
    }
}

@mixin tree-catalog-responsive-styles{
    .tree-catalog{
        &__header{
            padding-left: 20px;
        }
        &__text-container{
            gap: 0px;
        }
        &__children-container_control-task{
            padding-left: 20px;
        }
        &__text_span-count{
            //margin-right: 15px;
            font-size: 13px;
        }
        &__text_span-datebegin,
        &__text_span-dateend{
            font-size: 13px;
        }
    }
    .tree-catalog__header .tree-catalog__arrow{
        left: 7px;
    }
    #tree_tasks, #tree_shablons, #tree_tasks_archive{
        margin-left: 0px;
    }
}

@container modal-tree-task-resizable-box (max-width: 875px){
    @include tree-catalog-responsive-styles;
}

@container modal-tree-components-resizable-box (max-width: 485px){
    .tree-catalog{
        &__header{
            padding-left: 18px;
        }
    }
    .tree-catalog__header .tree-catalog__arrow{
        left: 7px;
    }

    #tree_tasks div{
        width: 100%;
        overflow-x: scroll;
    }
}

@container modal-tree-components-resizable-box (max-width: 380px){
    .tree-catalog{
        &__children-container{
            padding-left: 15px;
        }
    }
}

@container modal-tree-storage-main-resizable-box (max-width: 485px){
    .tree-catalog{
        &__header{
            padding-left: 18px;
        }
    }
    .tree-catalog__header .tree-catalog__arrow{
        left: 7px;
    }
}

@container modal-tree-storage-main-resizable-box (max-width: 380px){
    .tree-catalog{
        &__children-container{
            padding-left: 15px;
        }
    }
}

@container modal-table-components-resizable-box (max-width: 540px){
    .button__control_wrapper{
        & span{
            max-width: 150px;
        }
    }
}

@container modal-table-components-resizable-box (max-width: 460px){
    .button__control_wrapper{
        & span{
            max-width: 100px;
        }
    }
}

@container modal-table-storage-main-resizable-box (max-width: 485px){
    .button__control_wrapper{
        & span{
            max-width: 150px;
        }
    }
}

@container modal-table-storage-main-resizable-box (max-width: 460px){
    .button__control_wrapper{
        & span{
            max-width: 100px;
        }
    }
}

@media (max-width: 1440px){
    @include tree-catalog-responsive-styles;
}

@media (max-width: 1024px){
    .tree-catalog{
        &__header{
            padding-left: 18px;

            &::before{
                content: var(--tree-folder-background-lt);
            }

            &_no-icon::before{
                content: none;
            }
        }
        &__arrow{
            &::before{
                content: var(--tree-arrow-background-lt);
            }
        }
        &__text-container{
            gap: 0px;
        }
        &__children-container_control-task{
            padding-left: 40px;
        }
        &__text_span-count{
            margin-right: 20px;
            font-size: var(--font_size);
        }
        &__text_span-datebegin,
        &__text_span-dateend{
            font-size: var(--font_size);
        }
    }
    .tree-catalog__header .tree-catalog__arrow{
        left: 5px;
    }
}

@media (max-width: 600px){
    .tree-catalog{
        &__children-container_control-task{
            padding-left: 15px;
        }
        &__text_span-user{
            display: none;
        }
        &__text_span-datebegin,
        &__text_span-dateend{
            font-size: 13px;
        }
    }
    #tree_tasks{
        margin-left: 0px;
        padding-bottom: 30px;
    }
}