.input__type-time{
    width: 101px !important;
    min-width: 102px !important;
    max-width: 102px !important;
    background-image: none;
    padding: 0px;
    padding-left: 30px !important;

    &:disabled{
        color: var(--font-color);
        cursor: not-allowed;
    }

    &::-webkit-calendar-picker-indicator {
        background: none;
    }
}