.button__tab__first{
    float: left;
    background-color: var(--expand-button);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--font-color);
    font-size: var(--font_size);
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 10px -1px var(--box-shadow);

    &:hover,
    &_active{
        background-color: var(--expand-button-active);
        color: var(--font-color-button);
    }

    &:hover &__img,
    &_active &__img{
        filter: var(--img-button_color_white);
        -webkit-filter: var(--img-button_color_white);
    }

    &__img{
        height: 23px;
        cursor: pointer;
        margin-right: 10px;
        filter: var(--img-color__no-active);
        -webkit-filter: var(--img-color__no-active);
    }
}