.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 10%;
  left: 10%;

  &__moving{
    display: flex;
    justify-content: flex-end;
    background-color: var(--background_sidebar);
    margin: 0px -10px;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor: move;
  }

  &__content{
    position: relative;
    background-color: var(--background_second);
    margin: auto;
    padding: 0px 10px;
    border: 1px solid var(--blue);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden;
    resize: both;
  }

  &__header{
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    &_component-select{
      justify-content: flex-end;
    }
  }

  &__input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    &_center{
      margin: 0px 25px;
    }
  }

  &__body{
    display: flex;
    justify-content: center;
  }

  &__table{
    margin-left: 5px;
    border: 1px solid var(--border);
    height: 700px;
    overflow-y: scroll;
    resize: both;
  }

  &__tree{
    height: 700px;
    overflow-y: scroll;
    resize: both;
  }

  &__footer{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }

  &__close{
    color: var(--font-color);
    float: right;
    font-size: 35px;
    font-weight: bold;

    &:hover,
    &:focus{
      color: var(--expand-button-active);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal-header__elements{
  display: flex;
  flex-wrap: wrap;
}

.modal-header__elements select,
.modal-header__elements input[type="text"]{
  width: 200px;
}

.modal-header__elements input[type="date"]{
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--background_second);
  margin: 5px;
  padding: 0px 10px;
  height: 40px;
  width: 150px;
  border: 1px solid var(--border);
  border-radius: 0px;
}

#modal_select_component{
  z-index: 10;
}

#modal_info_component{
  z-index: 20;
}

#modal_typeselem{
  z-index: 30;
}

#enums_modal{
  z-index: 30;
}

#found_plus_modal{
  z-index: 30;
}

#modal_transfer_component{
  z-index: 30;
}