.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 10%;
  left: 10%;

  &__moving{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_sidebar);
    border: 1px solid var(--blue);
    border-bottom: none;
    padding: 0px 10px;
    cursor: move;
  }

  &__title{
    color: var(--font-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  &__content{
    position: relative;
    background-color: var(--background_second);
    margin: auto;
    padding: 0px 10px;
    border: 1px solid var(--blue);
    border-top: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: scroll;
    resize: both;
  }

  &__header{
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &_component-select{
      justify-content: flex-end;
    }

    &_task{
      background-color: var(--background_sidebar);
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
    margin-right: 5px;

    &_center{
      margin: 0px 25px;
    }

    &_display-none{
      display: none;
    }

    &_justify-content_flex-start{
      justify-content: flex-start;
    }
  }

  &__body{
    display: flex;
    justify-content: flex-start;

    &-wrapper{
      width: 600px;
    }
  }

  &__table{
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
    height: 710px;
    width: 510px;
    overflow-y: scroll;
    resize: both;
  }

  &__table-wrapper{
    display: flex;
  }

  &__table-wrapper_task{
    display: flex;
    flex-wrap: wrap;
  }

  &__table-wrapper_ost{
    overflow-y: scroll;
    max-height: 137px;
    margin: 5px 0px;
  }

  &__table-wrapper-info-prod{
    overflow-y: scroll;
    height: 225px;
    margin-bottom: 10px;
    resize: vertical;
  }

  &__button-wrapper{
    position: relative;
    top: 245px;
    display: flex;
  }

  &__tree{
    height: 710px;
    width: 500px;
    min-width: 350px;
    overflow-y: scroll;
    resize: both;
    padding: 0px 10px;

    &_width-auto{
      width: auto;
    }
  }

  &__footer{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }

  &__close{
    color: var(--font-color);
    float: right;
    font-size: 35px;
    width: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover,
    &:focus{
      color: var(--font-color-button);
      text-decoration: none;
      cursor: pointer;
      background-color: var(--red);
    }
  }
}

.modal-header__elements{
  display: flex;
  flex-wrap: wrap;
}

.modal-header__elements select,
.modal-header__elements input[type="text"]{
  width: 200px;
}

.modal-header__elements input[type="date"]{
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--background_second);
  margin: 5px;
  padding: 0px 10px;
  height: 40px;
  width: 150px;
  border: 1px solid var(--border);
  border-radius: 0px;
}

#modal_select_component{
  z-index: 10;
}

#modal_info_component{
  z-index: 20;
}

#modal_typeselem,
#enums_modal,
#found_plus_modal,
#modal_transfer_component,
#comp_edit_imgs_modal{
  z-index: 30;
}

@media (max-width: 1800px) {
  .modal{
    &__table{
      height: 350px;
    }

    &__table-wrapper{
      flex-direction: column;
    }
  }
}

@media (max-width: 1135px) {
  .modal{
    &__table-wrapper_task{
      flex-direction: column;
    }
  }
}

@media (max-height: 830px) {
  .modal{
    &__table{
      height: 300px;
    }

    &__tree{
      height: 610px;
    }
  }
}

@media (max-height: 730px) {
  .modal{
    &__table{
      height: 250px;
    }

    &__tree{
      height: 510px;
    }
  }
}