.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:1rem;
  background: #07080a40;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.063rem solid #ffffff42;
  z-index: 4;

  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0.063rem solid var(--border);
    padding: 0 0.625rem;
  }

  &__moving{
    height: 50px;
    padding-right: 0.625rem;
    padding-left: 0.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    cursor: move;
    background: var(--modal-moving-background);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  &__title{
    font-size: var(--font_size);
    display: flex;
    align-items: center;
    color: var(--font-color_active);
  }

  &__content{
    position: relative;
    background: var(--sidebar-tabcontent-background);; /* linear-gradient(189deg, rgb(18 18 73 / 13%), rgb(18 18 73 / 36%) 30%, rgb(18 18 73 / 15%) 70%) */
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    resize: both;
    overflow: auto;
    padding: 0.313rem;
  }

  &__header{
    color: var(--font-color);
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &_component-select{
      justify-content: flex-end;
    }

    &_task{
      position: relative;
      flex-direction: column;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-task-mount{
      width: 100%;
      margin-bottom: 1.563rem;
    }
  }

  &__wrapper-width-100{
    width: 100%;
  }

  &__wrapper-width-100-adaptive{

  }

  &__input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.625rem 0.313rem;

    &_center{
      margin: 0 1.563rem;
    }

    &_display-none{
      display: none !important;
    }

    &_justify-content_flex-start{
      justify-content: flex-start;
    }

    &_task{
      margin-top: 0.188rem;
      margin-bottom: 0.188rem;
      margin-left: 0;
      margin-right: 0.75rem;

      &-with-button{
        margin: 0;
      }
    }
  }

  &__body{
    display: flex;

    &-wrapper{
      width: 600px;
    }
  }

  &__table{
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid var(--border);
    border-radius: 0.75rem;
    height: 695px;
    min-width: 200px;
    overflow-y: scroll;
    resize: both;

    &-components{
      container-type: inline-size;
      container-name: modal-table-components-resizable-box;
    }

    &-storage-main{
      container-type: inline-size;
      container-name: modal-table-storage-main-resizable-box;
    }
  }

  &__table-wrapper-task{
    padding-right: 0.438rem;
    border-radius: 0.75rem;
    border-right: 0.063rem solid var(--border);
    background: inherit;
  }

  &__table-task{
    width: 590px;
    min-width: 200px;
    height: 710px;
    overflow: auto;
    resize: both;
    container-type: inline-size;
    container-name: modal-table-task-resizable-box;
  }

  &__table-wrapper{
    display: flex;
  }

  &__table-wrapper_task{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 0.625rem;
    position: relative;

    &_adept-2000{
      @media (max-width: 2000px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__table-wrapper_ost{
    overflow-y: auto;
    max-height: 137px;
    margin: 5px 0;
  }

  &__table-wrapper-info-prod{
    overflow-y: auto;
    max-height: 450px;
    margin: 0 0.625rem;
    resize: both;
    width: 100%;
  }

  &__table-wrapper-substdoc{
    overflow-y: auto;
    height: 91px;
    width: 100%;
    margin-bottom: 0.625rem;
  }

  &__table-wrapper-historystep{
    overflow-y: auto;
    height: 372px;
    width: 984px;
    width: 100%;
    background: var(--modal-content-background);
    margin-top: 1.563rem;
  }

  &__button-wrapper{
    display: flex;
    align-items: center;

    &-close{
      display: none;
      justify-content: space-between;
      margin: 0.313rem 0.625rem;
    }
  }

  &__tree{
    height: 710px;
    width: 500px;
    min-width: 200px;
    overflow: auto;
    resize: both;
    padding: 0.313rem;
    background: var(--modal-tree-background);
    border: 0.063rem solid var(--border);
    border-radius: 0.75rem;

    &_width-auto{
      width: auto;
    }

    &-task{
      container-type: inline-size;
      container-name: modal-tree-task-resizable-box;
      position: relative;
      margin-left: 0.625rem;
    }

    &-components{
      container-type: inline-size;
      container-name: modal-tree-components-resizable-box;
    }

    &-storage-main{
      container-type: inline-size;
      container-name: modal-tree-storage-main-resizable-box;
    }
  }

  &__footer{
    padding: 0.625rem 0;
    display: flex;
    justify-content: center;
  }

  &__close{
    height: 40px;
    min-width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: var(--font-color);
    background: 0 0;
    border: 0.125rem solid rgba(255, 255, 255, .05);
    border-radius: 1.563rem;

    &:hover,
    &:focus{
      color: #f7f8f8;
      border-color: #232326;
      background: #38383d8c;
    }
  }

  &__tabs{
    display: flex;
  }

  &__tab-button{
    flex: 1;
    padding: 0.625rem 0;
    border: none;
    cursor: pointer;
    background: inherit;
    font-size: var(--font_size-medium);
    color: var(--font-color);
    transition: all 0.3s ease;
    border-bottom: 0.063rem solid var(--border);

    &:hover {
      text-decoration: underline;
      color: var(--font-color_active);
      font-size: var(--font_size);
    }

    &:disabled {
      text-decoration: none;
      color: var(--font-color);
      font-size: var(--font_size-medium);
    }

    &.active {
      text-decoration: underline;
      color: var(--font-color_active);
      font-size: var(--font_size);
      background: var(--modal-content-background);
      border-top: 0.063rem solid var(--border);
      border-left: 0.063rem solid var(--border);
      border-right: 0.063rem solid var(--border);
      border-bottom: none;
    }
  }

  &__tab-content {
    display: none;
    background: var(--modal-content-background);
    padding: 0.625rem;

    &.active {
      display: block;
      animation: fadeIn 0.3s ease;
      border-bottom: 0.063rem solid var(--border);
      border-left: 0.063rem solid var(--border);
      border-right: 0.063rem solid var(--border);
    }

    &_visible{
      display: block;
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-overlay-background);
  }
}

.modal-header__elements{
  display: flex;
  flex-wrap: wrap;
}

.modal-header__elements select,
.modal-header__elements input[type="text"]{
  width: 200px;
}

.modal-header__elements input[type="date"]{
  color: var(--font-color);
  font-size: var(--font_size);
  background-color: var(--background_second);
  margin: 0.313rem;
  padding: 0 0.625rem;
  height: 40px;
  width: 150px;
  border: 0.063rem solid var(--border);
  border-radius: 0;
}

#modal_select_component{
  z-index: 10;
}

#modal_info_component{
  z-index: 20;
}

#modal_typeselem,
#enums_modal,
#found_plus_modal,
#modal_transfer_component,
#comp_edit_imgs_modal{
  z-index: 30;
}

@media (max-width: 1024px){
  .modal{
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0;
    border: none;
    transform: none;

    &__moving{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &__content{
      width: 100% !important;
      height: 100% !important;
      padding-bottom: 3.125rem;
    }

    &__tree-task{
      display: none;
      position: fixed;
      background: var(--background_second);
      top: 20px;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      padding-right: 0;
      padding-top: 1.875rem;
      margin-left: 0;
    }

    &__tree{
      &-storage-main,
      &-components{
        width: 100% !important;
        height: 100% !important;
        border-radius: 0;
      }
    }

    &__table{
      margin-left: 0;
      margin-bottom: 0;
      
      &-storage-main,
      &-components-found,
      &-components{
        display: none;
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        top: 45px;
        left: 0;
        margin: 0;
        background: var(--background_second);
        border: none;
      }

      &-wrapper{
        flex-direction: column;
      }
    }

    &__button-wrapper-close{
      display: flex;
    }
  }
}

@media (max-width: 950px) {
  .modal{
    &__table-task{
      width: 100% !important;
      height: 100% !important;
      border-radius: 0;
    }
  }
}

@media (max-width: 768px) {
  .modal{
    &__body{
      flex-wrap: wrap;
    }

    &__content{
      padding: 0;
      padding-bottom: 3.125rem;
    }
  }

  #user_name_title{
    display: none;
  }
}

@media (max-height: 830px) {
  .modal{
    &__table{
      height: 300px;
    }

    &__tree{
      height: 610px;
    }
  }
}

@media (max-height: 730px) {
  .modal{
    &__table{
      height: 250px;
    }

    &__tree{
      height: 510px;
    }
  }
}

@media (max-width: 600px){
  .modal{
    &__header{
      flex-direction: column;
    }

    &__table-task{
      width: 100% !important;
    }

    &__tree{
      width: 100% !important;
    }

    &__input-wrapper{
      justify-content: flex-start;
    }
  }
}

@media (max-width: 425px) {
  .modal{
    &__wrapper-width-100-adaptive{
      width: 100%;
    }
  }
}