.table {
    color: var(--font-color);
    font-size: var(--font_size);
    border-spacing: 0;
    /*overflow: hidden;
    height: 100%;*/
    width: 100%;
    border: 0.063rem solid var(--table-td-border);
    border-radius: 0.75rem;

    &__label{
        font-size: var(--font_size);
        border: none;
        margin: 0.313rem;
    }

    &__title{
        color: var(--font-color);
        font-size: var(--font_size);
        margin-top: 0.625rem;
        margin-bottom: 0.188rem;
        margin-left: 0.313rem;

        &_disabled{
            color: var(--table-td-border);
        }
    }

    &_no-rotation{
        .tr:nth-child(odd) {
            background-color: unset;
        }

        .tr:nth-child(even) {
            background-color: unset;
        }
    }

    &_no-border-radius{
        border-radius: unset;
        border-collapse: collapse;
    }

    &_no-border{
        border: none;
    }
}

/*.table .tr:last-child td {
    border-bottom: none;
}*/

.table .tr:first-child{
    &:hover{
        background: none;
    }
}

.table .tr:last-child .td{
    border-bottom: none;
}

.thead .tr td:first-child{
    border-top-left-radius: 0.688rem;
    border-left: none;
}

.thead .tr td:last-child{
    border-top-right-radius: 0.688rem;
    border-right: none;
}

.tr:nth-child(odd) {
    background-color: var(--table-tr-rotation-odd);
}

.tr:nth-child(even) {
    background-color: var(--table-tr-rotation-even);
}

.tr .td:last-child{
    text-align: center;
    text-wrap: nowrap;
}

.tr_last-child-no-100px .td:last-child{
    width: unset;
}

.tr{
    &:hover{
        background: var(--table-tr-hover);
    }

    &_mark{
        background-color: var(--table-tr-hover) !important;
        color: var(--font-color_active);

        .button__control_action{
            background-color: inherit !important;
            color: var(--font-color_active);
        }

        &-error{
            border:  0.063rem solid #ff3131;
        }
    }

    &_hover-btn{
        &:hover{
            background-color: var(--table-tr-hover) !important;

            .button__control_action{
                background-color: inherit !important;
                color: var(--font-color_active);
            }
        }
    }

    &_no-hover{
        &:hover{
            border: none;
        }
    }
}

.td{
    padding: 0 0.313rem;
    height: 50px;
    border-bottom: 0.063rem solid var(--table-td-border);
    /*text-wrap: nowrap;*/

    &_no-border-bottom{
        border-bottom: none;
    }

    &_text-wrap{
        text-wrap: wrap !important;
    }

    &_active{
        background: var(--td-active);
        border-right: 0.063rem solid var(--table-td-border);
        text-align: center;
        color: var(--font-color_active);
        height: 50px;

        &-no-border{
            border-right: none;
            border-top: none;
        }

        &-no-background{
            background: var(--table-tr-rotation-even);
            border-bottom: 0.063rem solid var(--border) !important;
            border-right: none;
        }

        /*&-modal{
            background-color: #1f1f1fa1;
        }*/
    }

    &_active-cell{
        background-color: var(--td-active);
        border-left: 0.063rem solid var(--table-td-border);
        border-right: 0.063rem solid var(--table-td-border);
        color: var(--font-color_active);
    }

    &_buttons-control{
        /*display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;*/
    }

    &__text_align_center{
        text-align: center;
    }

    &_nowrap-content{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    &_small{
        width: 125px;
    }

    &_tree-status{
        width: 30px;
    }

    &_font-color-active{
        color: var(--font-color_active);
    }

    &_no-padding{
        padding: 0;
    }

    &_no-visible{
        width: 0.1%;
        padding: 0;
        border-right: none;
    }

    &_width-5{
        width: 1%;
    }

    &_width-10{
        width: 10%;
        min-width: 80px;
    }

    &_width-13{
        width: 13%;
        min-width: 120px;
    }

    &_width-15{
        width: 15%;
        min-width: 140px;
    }

    &_width-20{
        width: 20%;
        min-width: 170px;
    }

    &_width-40{
        width: 40%;
        min-width: 240px;
    }

    &_span-text-wrapper{
        text-wrap: wrap;
    }
}

@media (max-width: 950px){
    .table{
        border-radius: 0;
    }
    .thead .tr td:last-child{
        border-top-right-radius: 0;
    }
    .thead .tr td:first-child {
        border-top-left-radius: 0;
    }
}

@media (max-width: 768px){
    .td_active{
        height: 40px;
    }
}