.table {
    color: var(--font-color);
    font-size: var(--font_size);
    border-collapse: collapse;
    /*height: 100%;*/
    width: 100%;
    border: 1px solid var(--border);
    border-collapse: collapse;
    background-color: var(--background_first);

    &__label{
        font-size: var(--font_size);
        border: none;
        margin: 5px;
    }

    &__title{
        color: var(--font-color);
        font-size: var(--font_size);
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 5px;

        &_disabled{
            color: var(--border);
        }
    }

    &_no-rotation{
        .tr:nth-child(odd) {
            background-color: unset;
        }

        .tr:nth-child(even) {
            background-color: unset;
        }
    }
}

.thead{
    border: 1px solid var(--border-td-bottom);
}

.tr:nth-child(odd) {
    background-color: var(--background_second);
}

.tr:nth-child(even) {
    background-color: var(--background_first);
}

.tr{    
    &:hover{
        border: 1px solid #334cd3;
    }

    &_mark{
        background-color: var(--table-row-mark) !important;
        color: var(--black);

        .button__control_action{
            background-color: var(--table-row-mark) !important;
            color: var(--black);
        }

        &-error{
            border:  1px solid #ff3131;
        }

        /*.button__control__img{
            filter: var(--img-button_color_white);
            -webkit-filter: var(--img-button_color_white);
        }*/
    }

    &_no-hover{
        &:hover{
            border: none;
        }
    }
}

.td{
    padding: 0px 5px;
    height: 45px;

    &_active{
        background-color: var(--td-active);
        border-right: 1px solid var(--border);
        border-top: 1px solid var(--border);
        text-align: center;
        color: var(--font-color_active);

        &-no-border{
            border-right: none;
            border-top: none;
        }
    }

    &_active-cell{
        background-color: var(--td-active);
        border: 1px solid var(--border);
        color: var(--font-color_active);
    }

    &_buttons-control{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        border-bottom: none;
    }

    &__text_align_center{
        text-align: center;
    }

    &_nowrap-content{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    &_small{
        width: 125px;
    }
}