.input__type-text{
    color: var(--font-color_active);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: initial;
    border: none;
    height: 27px;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid var(--border);

    &_title{
        border: 1px solid var(--border);
    }

    &_title-table-schedule{
        max-width: none;
        padding: 0px;
        border: none;
        text-align: center;
        width: 60px;
        margin-left: -5px;
    }

    &__label{
        font-family: 'Roboto', sans-serif;
        color: var(--font-color_active);
    }

    &_width_100{
        width: 100%;
        max-width: none;
    }

    &_pass{
        position: relative;
    }

    &_icon-eye{
        background-image: url('../../entrance/img/entrance_eye_on.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        width: 18px;
        height: 20px;
        left: 280px;
    }

    &_error{
        border: 2px solid var(--red_hover) !important;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator{
    filter: var(--img_color);
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}