.input__type-text{
    color: var(--font-color_active);
    font-size: var(--font_size);
    background-color: initial;
    height: 27px;
    width: 100%;
    min-width: 120px;
    padding: 0 1.563rem 0 0.313rem;
    border: none;
    background-image: var(--input-text-icon);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 0.75rem;
    caret-color: var(--expand-button-active);
    padding-left: 1.688rem;
    margin-left: 0 !important;

    &:focus-visible{
        outline: none;
        border: 0.063rem solid var(--font-color);
    }

    &:disabled{
        padding-right: 0;
        background-image: none;
        color: var(--font-color);
        padding: 0;
        cursor: not-allowed;
    }

    &_title{
        border: 0.063rem solid var(--border);
        padding-right: 0.313rem;
        padding-left: 0.625rem;
        background-image: none;
        border-radius: 0.625rem;
    }

    &_title-table-schedule{
        max-width: none;
        padding: 0;
        border: none;
        text-align: center;
        min-width: 60px;
        width: 60px;
        margin-left: -0.313rem !important;
        padding-right: 0;
        background-image: none;
    }

    &__label{
        color: var(--font-color_active);

        &-active{
            color: var(--font-color_active) !important;
        }

        &-users{
            width: 115px;
        }
    }

    &__label-blue{
        color: var(--font-color-modal-blue-second);
        font-size: var(--font_size-medium);
    }

    &__small{
        width: 65px !important;
        min-width: 65px !important;
        max-width: 65px !important;
        text-align: center;
        padding-right: 0;
        padding-left: 0.625rem;
    }

    &_width_100{
        width: 100%;
        max-width: none;
    }

    &_pass{
        position: relative;
        padding-right: 0;
        background-image: none;
    }

    &_icon-eye{
        background-image: url('../../entrance/img/entrance_eye_on.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:1rem;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        width: 18px;
        height: 20px;
        left: 103px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &_error{
        border: 0.125rem solid var(--red_hover) !important;
    }

    &_task-mount{
        width: 100px;
        padding: 1.25rem;
        border: 0.125rem solid var(--border);
        border-radius: 0.625rem;
        font-size: var(--font_size-big);
        font-weight: 600;
        text-align: center;
        margin-left: 0.625rem;
    }

    &_search-block{
        display: flex;
        margin: 0.313rem 0;
        gap: 0.625rem;

        & div{
            display: flex;
            align-items: center;
            width: 100%;
            margin-right: 0.313rem;
        }
    }

    &_search-wrapper{
        border: 0.063rem solid var(--border);
        border-radius: 0.625rem
    }

    &_search{
        height: 33px;
        padding: 0 0 0 1.563rem;
        background-image: var(--docpost-input-img-search);
        background-repeat: no-repeat;
        background-position: left 0.313rem center;
        background-size: 0.75rem;
        border: none;

        &:focus-visible{
            outline: none;
            border: none;
        }

        &-focus{
            background-image: none;
            padding: 0 0 0 0.313rem;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

@media (max-width: 1024px) {
    .input__type-text{
        height: 33px;
        background-image: none;
        padding: 0 0.313rem 0 0.313rem;
        
        &_search-block{
            margin: 0.625rem 0.313rem;
            margin-top: 0.938rem;
            flex-direction: column;
        }

        &_search{
            height: 40px;
            font-size: var(--font_size);
        }

        &_pass{
            padding: 0 0.313rem 0 1.563rem;
        }
    }
}