.hamburger-menu,
#menu__toggle{
    display: none;
}

@media (max-width: 768px){
    .hamburger-menu{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        right: 20px;
        top: 21px;
        width: 35px;
        height: 40px;
        cursor: pointer;
        z-index: 3;
        margin: 0 -0.313rem;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3.5px;
        background-color: var(--font-color_active);
        transition-duration: .25s;
        border-radius: 0.313rem;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: flex;
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 3.75rem 0;
        list-style: none;
        background-color: var(--background_second);
        transition-duration: .25s;
        z-index: 2;
        overflow: auto;
        flex-direction: column;
        align-items: center;
    }
}