.table-wrapper{
    display: flex;
}

.table-wrapper_left{
    flex: 0 0 auto;
    overflow-x: scroll;
    border-top-left-radius: 0.75rem;
    
    & table {
        border-radius: unset;
    }
}

.table-wrapper_right{
    flex: 0 0 auto;
    overflow-x: scroll;
    border-top-right-radius: 0.75rem;

    & table {
        border-radius: unset;
    }
}

.table-wrapper_center{
    flex: 1 1 auto;
    overflow-x: scroll;
    white-space: nowrap;
    min-width: 235px;

    & table {
        border-radius: unset;
        border-left: none;
        border-right: none;
    }
}

.table_height-100{
    height: 100%;
}

.td_left-border{
    border-left: 0.063rem solid var(--table-td-border);
}

.td_right-border{
    border-right: 0.063rem solid var(--table-td-border);
}