@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
}

:root{
    --white: #ffffff;
    --blue: #294f74;
    --font-color-button: #ffffff;
    --img-button_color_white: invert(100%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(111%) contrast(101%);
    --expand-button-active: #2687e1;

    --green: #9cca5e;
    --green_hover: #49df73;
    --green__img-filter: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
    --green__img-filter_hover: invert(44%) sepia(19%) saturate(1418%) hue-rotate(84deg) brightness(93%) contrast(88%);

    --yellow: #f7f501;
    --yellow_hover: #bd8421;
    --yellow__img-filter: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
    --yellow__img-filter_hover: invert(100%) sepia(77%) saturate(7500%) hue-rotate(358deg) brightness(97%) contrast(102%);

    --red: #ff6666;
    --red_hover: #DF4C2F;
    --red__img-filter: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
    --red__img-filter_hover: invert(87%) sepia(36%) saturate(1810%) hue-rotate(297deg) brightness(97%) contrast(98%);
}

.theme-light {
    overflow: hidden;
    --font-color: #4a4a4a;
    --font-color_active: #010101;//#212121;
    --background_first: #f6f6f6;//#f9f9f9;
    --background_second: #ffffff;
    --background_sidebar: #e9e9e9;
    --expand-button: #ffffff;
    --border: #cecece; /*cfcfcf*/
    --box-shadow: #cecece;
    --img_color: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
    --img-button_color: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
}

.theme-dark {
    overflow: hidden;
    --font-color: #e9e9e9;
    --font-color_active: #ffffff;
    --background_first: #343435; /*333335*/
    --background_second: #3b3b3d; /*39393b 3b3b3d*/
    --background_sidebar: #2a2a2c; /*2a2a2c*/
    --box-shadow: #212121;
    --expand-button: #414143;
    --border: #575757;
    --img_color: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
    --img-button_color: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px var(--box-shadow); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px var(--box-shadow); 
}

html, body{
    width: 100%;
    height: 100%;
    /*max-height: 1200px;
    max-width: 1920px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background_second);
    transition: all 0.5s;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &__tables-shipment{
        display: table;
        padding-top: 50px;
    }
}