@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
}

:root{
    --white: #ffffff;
    --blue: #334cd3;
    --black: #010101;
    --font-color-button: #ffffff;
    --img-button_color_white: invert(100%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(111%) contrast(101%);
    --img-button-color-black: invert(0%) sepia(94%) saturate(49%) hue-rotate(86deg) brightness(100%) contrast(99%);
    --expand-button-active: #2687e1;
    --table-row-mark: #d4eaff;
    --img-color__no-active: invert(58%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(95%) contrast(92%);

    --font_size: 15px;
}

.theme-light {
    overflow: hidden;
    --font-color: #8b8b8b;
    --font-color_active: #010101;
    --background_first: #ffffff;
    --background_second: #f8faff;
    --background_sidebar: #ffffff;
    --expand-button: #ffffff;
    --border: #cecece;
    --td-active: #E5EAF7;
    --border-td-bottom: #dddddd;
    --box-shadow: #cecece;
    --link-active: #EDF2FE;
    --link-active_decor: #C8D8FF;
    --img_color: invert(14%) sepia(37%) saturate(0%) hue-rotate(272deg) brightness(94%) contrast(103%);
    --img-button_color: invert(48%) sepia(3%) saturate(0%) hue-rotate(232deg) brightness(99%) contrast(87%);
    --input-text-icon: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.58207 14.377C5.38183 14.5744 5.14404 14.7311 4.88228 14.838C4.62052 14.9449 4.33994 14.9999 4.05655 15H1V12.0102C1 11.4471 1.22752 10.9065 1.63201 10.5083M5.58207 14.377L1.63201 10.5083M5.58207 14.377L13.4616 6.61631M1.63201 10.5083L9.51948 2.73441L10.646 1.62374C10.8465 1.42608 11.0846 1.26925 11.3466 1.16222C11.6087 1.0552 11.8896 1.00007 12.1734 1C12.4571 0.999928 12.738 1.05491 13.0002 1.1618C13.2623 1.2687 13.5004 1.4254 13.701 1.62297L14.5906 2.49952C14.9955 2.89816 15.2229 3.43883 15.2229 4.00258C15.2229 4.56634 14.9955 5.107 14.5906 5.50564L13.4616 6.61631M13.4616 6.61631L9.51869 2.73441' stroke='%230084E1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    --font-color-modal-blue: #005cb5;
    --font-color-modal-blue-second: #005cb5;
    --font-color-modal-blue-img: invert(21%) sepia(60%) saturate(3167%) hue-rotate(196deg) brightness(97%) contrast(102%); /*005cb5*/
    --background-modal-first: #eef2f5;
    --background-modal-second: #ffffff;
    --background-modal-my-sms: #C4E3FF;
    --background-modal-another-sms: #e5e5ea;
    --background-modal-chattask: url(../../blocks/modal/__chat-task/img/background_white.svg);
    --green: #039d2e;
    --green_hover: #96f596;
    --green__img-filter: invert(54%) sepia(53%) saturate(832%) hue-rotate(86deg) brightness(95%) contrast(79%); /*1fb649*/
    --red: #ff6666;
    --red_hover: #f59696;
    --red__img-filter: invert(21%) sepia(31%) saturate(6777%) hue-rotate(346deg) brightness(84%) contrast(98%); /*b61f1f*/
    --yellow: #f7f501;
    --yellow_hover: #fffea4;
    --yellow__img-filter: invert(59%) sepia(100%) saturate(552%) hue-rotate(353deg) brightness(95%) contrast(96%); /*ee9b0f*/
}

.theme-dark {
    overflow: hidden;
    --font-color: #8b8b8b;
    --font-color_active: #ffffff;
    --background_first: #343435;
    --background_second: #3b3b3d;
    --background_sidebar: #2a2a2c;
    --box-shadow: #212121;
    --expand-button: #414143;
    --border: #575757;
    --td-active: #2a2a2c;
    --border-td-bottom: #575757;
    --link-active: #575757;
    --link-active_decor: #C8D8FF;
    --img_color: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
    --img-button_color: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
    --input-text-icon: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.58207 14.377C5.38183 14.5744 5.14404 14.7311 4.88228 14.838C4.62052 14.9449 4.33994 14.9999 4.05655 15H1V12.0102C1 11.4471 1.22752 10.9065 1.63201 10.5083M5.58207 14.377L1.63201 10.5083M5.58207 14.377L13.4616 6.61631M1.63201 10.5083L9.51948 2.73441L10.646 1.62374C10.8465 1.42608 11.0846 1.26925 11.3466 1.16222C11.6087 1.0552 11.8896 1.00007 12.1734 1C12.4571 0.999928 12.738 1.05491 13.0002 1.1618C13.2623 1.2687 13.5004 1.4254 13.701 1.62297L14.5906 2.49952C14.9955 2.89816 15.2229 3.43883 15.2229 4.00258C15.2229 4.56634 14.9955 5.107 14.5906 5.50564L13.4616 6.61631M13.4616 6.61631L9.51869 2.73441' stroke='%230084E1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    --font-color-modal-blue: #0084e1;
    --font-color-modal-blue-second: #63bfff;
    --font-color-modal-blue-img: invert(48%) sepia(66%) saturate(5937%) hue-rotate(185deg) brightness(95%) contrast(101%); /*0084e1*/
    --background-modal-first: #212121;
    --background-modal-second: #2a2a2c;
    --background-modal-my-sms: #2b5278;
    --background-modal-another-sms: #3b3b3d;
    --background-modal-chattask: url(../../blocks/modal/__chat-task/img/background_black.svg);
    --green: #039d2e;
    --green_hover: #7bfd7b;
    --green__img-filter: invert(54%) sepia(53%) saturate(832%) hue-rotate(86deg) brightness(95%) contrast(79%); /*1fb649*/
    --red: #ff6666;
    --red_hover: #fd7b7b;
    --red__img-filter: invert(21%) sepia(31%) saturate(6777%) hue-rotate(346deg) brightness(84%) contrast(98%); /*b61f1f*/
    --yellow: #f7f501;
    --yellow_hover: #f2fd7b;
    --yellow__img-filter: invert(59%) sepia(100%) saturate(552%) hue-rotate(353deg) brightness(95%) contrast(96%); /*ee9b0f*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px var(--box-shadow); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px var(--box-shadow); 
}

html, body{
    width: 100%;
    height: 100%;
    /*max-height: 1200px;
    max-width: 1920px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background_second);
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    font-size: var(--font_size);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &__tables-shipment{
        display: table !important;
        padding-top: 50px;
    }
}