.entrance{
    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #08090a url('../entrance/img/entrance_logo.svg') no-repeat center / contain;
        color: #ffffff;
        font-size: 15px;

        &_logos{
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 20px;
        }
    }

    &__title{
        margin-bottom: 30px;
    }

    &__logo{
        filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
        -webkit-filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);

        &_avg{

        }

        &_dt{
            height: 45px;
        }
    }

    &__form{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 135px;
        background-color: #08090ae3;
        box-shadow: 0px 0px 15px 2px #000000;
        border-radius: 30px;
    }

    &__input-wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__label{
        margin-bottom: 10px;
    }

    &__input-container{
        position: relative;
    }

    &__input{
        color: #3b3b3d;
        background-color: #e9e9e9;
        border: none;
        outline: none;
        border-radius: 5px;
        height: 50px;
        width: 300px;
        padding: 15px 35px;
        position: relative;
        z-index: 1;

        &_icon{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            width: 18px;
            height: 20px;
            
            &-login{
                background-image: url('../entrance/img/entrance_user.svg');
            }
    
            &-pass{
                background-image: url('../entrance/img/entrance_lock.svg');
            }

            &-eye{
                left: 273px;
                background-image: url('../entrance/img/entrance_eye_on.svg');
            }
        }
    }

    &__button{
        background: linear-gradient(to right, #154A7B, #2687E1, #154A7B);
        background-size: 200% auto;
        box-shadow: 0px 4px 8px #212121;
        transition: background-position 0.5s;
        color: #ffffff;
        width: 260px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;

        &:hover{
            background-position: 100% 0;
        }

        &:active {
            transform: scale(0.98);
            box-shadow: 0 2px 4px #212121;
        }
    }

    &__captcha-box {
        display: none;
        flex-direction: column;
        padding: 16px;
        border-radius: 5px;
        border: 1px solid #2687e1;
        max-width: 300px;
        width: 100%;

        & input {
            width: 100%;
            height: 50px;
            padding: 8px;
            text-align: center;
            color: #3b3b3d;
            background-color: #e9e9e9;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 15px 35px;
        }

        h3 {
            font-size: var(--font_size);
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__captcha-visual {
        font-family: 'Courier New', monospace;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 10px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        transform: rotate(-1deg);
        display: inline-block;

        & span {
            display: inline-block;
            transform: rotate(calc((var(--r)) * 1deg));
            margin: 0 2px;
        }
    }
}

@media (max-width: 570px){
    .entrance__form{
        padding: 0px;
    }
}