.button__control_dropdown{
    &-container{
        position: relative;
        display: inline-block;
    }

    &-menu{
        position: absolute;
        top: 100%;
        left: -150px;
        background: var(--background_first);;
        border: 0.063rem solid var(--border);
        min-width: 180px;
        z-index: 1000;

        /* Анимация */
        opacity: 0;
        transform: translateY(-0.625rem);
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        margin-top: 0.313rem;

        &.show {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }

    &-button{
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: left;
        text-wrap: nowrap;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--font-color);
        font-size: var(--font_size);
        background-color: inherit;
        border: none;
        transition: background 0.2s;

        &:hover{
            background-color: var(--border);
            color: var(--font-color_active);
        }
    }

    &-img{
        height: 13px;
        width: 0.313rem;
    }
}