.button__control{
    height: 30px;
    min-width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
    color: var(--font-color);
    background: 0 0;
    border: 2px solid var(--button-control-border);
    border-radius: 25px;

    &:hover{
        border-color: var(--button-control-border-hover);
        background: var(--button-control-background-hover); /*#232326;*/
    }

    &:hover img{
        -webkit-filter: var(--button-control-img-hover);
        filter: var(--button-control-img-hover);
    }

    &:disabled{
        cursor: no-drop;
    }

    &_wrapper{
        display: flex;
        align-items: center;

        & span {
            flex: 1;
            min-width: 0;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            max-width: 100px;
        }
    }

    &_action{
        background-color: inherit;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-right: 0px;
        justify-content: flex-start;
        text-align: left;
        transition: 0s;

        &_text{
            text-align: left;
            text-wrap: nowrap;
            width: 200px;

            &:hover{
                color: unset;
                border-color: unset;
                background: unset;
            }

            &-arch{
                width: 100%;
            }
        }

        &_date{
            width: 80px;
            text-align: center;
            text-wrap: wrap;
            display: flex;
            align-items: flex-start;
            padding-top: 8px;
        }

        &_status{
            width: 30px;
            margin-left: 10px;

            &:hover img{
                -webkit-filter: unset;
                filter: unset;
            }
        }
    }

    &_ready{
        color: var(--expand-button-active);
        font-size: var(--font_size);
        background-color: inherit;
        border: 1px solid var(--expand-button-active);
        width: 150px;
        height: 40px;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s all;

        &:hover{
            background-color: var(--expand-button-active);
            color: var(--font-color-button);
            transform: translateY(-3px);
        }

        &:disabled{
            cursor: no-drop;

            &:hover{
                background-color: inherit;
                color: var(--expand-button-active);
            }
        }

        @media (max-width: 1140px){
            &{
                width: 100% !important;
            }
        }
    }

    /*&:hover{
        background-color: var(--expand-button-active);
    }

    &:hover &__img{
        filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
        -webkit-filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(82deg) brightness(115%) contrast(100%);
    }*/

    &_update{
        &:hover{
            background-color: var(--green_hover);
        }

        &_active{
            background-color: var(--green_hover);
        }
    }

    &_update:hover &__img{
        -webkit-filter: var(--green__img-filter);
        filter: var(--green__img-filter);
    }

    &_mdel{
        &:hover{
            background-color: var(--red_hover);
        }

        &_active{
            background-color: var(--red_hover);

            & .button__control__img{
                -webkit-filter: var(--red__img-filter);
                filter: var(--red__img-filter);
            }
        }
    }

    &_mdel:hover &__img{
        -webkit-filter: var(--red__img-filter);
        filter: var(--red__img-filter);
    }

    &__img{
        width: 10px;
        -webkit-filter: invert(48%) sepia(3%) saturate(0%) hue-rotate(232deg) brightness(99%) contrast(87%);
        filter: invert(48%) sepia(3%) saturate(0%) hue-rotate(232deg) brightness(99%) contrast(87%);
    }

    &_img__no-filter{
        filter: none;
        -webkit-filter: none;
    }

    &_docpost-ready{
        background-color: var(--green_hover);

        &_img{
            filter: var(--green__img-filter);
        }

        /*&:hover{
            background-color: var(--green_hover);
        }

        &:hover &_img{
            filter: var(--green__img-filter_hover);
        }*/
    }

    &_docpost-process{
        background-color: var(--yellow_hover);

        &_img{
            filter: var(--yellow__img-filter);
        }
        
        /*&:hover{
            background-color: var(--yellow_hover);
        }

        &:hover &_img{
            filter: var(--yellow__img-filter_hover);
        }*/
    }

    &_docpost-new{
        background-color: var(--red_hover);

        &_img{
            filter: var(--red__img-filter);
        }

        /*&:hover{
            background-color: var(--red_hover);
        }

        &:hover &_img{
            filter: var(--red__img-filter_hover);
        }*/
    }

    &_active{
        background-color: var(--expand-button-active);
        outline: none;
    }

    &_active &__img {
        filter: var(--img-button-color-white);
        -webkit-filter: var(--img-button-color-white);
    }

    &_usersteps{
        &_accept{
            &:disabled{
                background-color: var(--border);
                border: 1px solid var(--border);
                color: var(--font-color);

                &:hover{
                    background-color: var(--border);
                    color: var(--font-color);
                }
            }
        }

        &_problem{
            width: 115px;
            color: var(--font-color_active);
            text-decoration: underline;
            border: none;

            &:hover{
                background-color: inherit;
                color: #ff3131;
            }

            &.active{
                width: 125px;
                background-color: inherit;
                color: #ff3131;

                &:hover{
                    color: var(--font-color_active);
                }
            }

            @media (max-width: 1140px){
                &{
                    width: 100% !important;
                    border: 1px solid var(--font-color_active);
                }
            }
        }

        &_ready{
            color: var(--green);
            border: 1px solid var(--green);

            &:hover{
                background-color: #1fb6494a; /*#c1f596*/
                color: var(--green);
                border: none;
            }

        }

        &_ready_part{
            width: 135px;
            text-decoration: underline;
            border: none;
            color: var(--font-color_active);

            &:hover{
                background-color: inherit;
                color: var(--expand-button-active);
            }

            &:disabled{
                color: var(--font-color);

                &:hover{
                    color: var(--font-color);
                }
            }

            @media (max-width: 1140px){
                &{
                    width: 100% !important;
                    border: 1px solid var(--font-color_active);
                }
            }
        }
    }

    &_sidebar-task{
        position: absolute;
        background-color: inherit;
        text-decoration: underline;
        padding: 0px;
        left: 60px;
        top: 15px;
        height: unset;

        &:hover{
            background-color: inherit;
        }
    }

    &_chat_task{
        z-index: 3;

        & img{
            width: 20px;
        }

        &:hover img{
            filter: unset !important;
            width: 25px;
        }

        &-absolute{
            position: absolute;
            right: 10px;
        }
    }

    &_chat_task_tree{
        position: absolute;
        top: -33px;
        right: 0px;

        & img{
            width: 20px;
        }

        &:hover img{
            filter: unset !important;
            width: 25px;
        }
    }

    &_opacity{
        opacity: 0;
    }

    &_tabcontent-close,
    &_tabcontent-close-archTask,
    &_tabcontent-close-shablons,
    &_tabcontent-close-storage-main,
    &_tabcontent-close-component,
    &_tabcontent-close-component-found,
    &_tabcontent-open-found{
        //display: none;
        & img{
            filter: invert(31%) sepia(11%) saturate(0%) hue-rotate(204deg) brightness(95%) contrast(82%);
            -webkit-filter: invert(31%) sepia(11%) saturate(0%) hue-rotate(204deg) brightness(95%) contrast(82%);
            width: 15px;
        }

        &__container{
            width: 100%;
            height: 50px;
            background: rgba(33, 33, 33, 0.9490196078);
            position: fixed;
            top: 0px;
            z-index: 3;
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background: var(--button-control-container-button-control);
            backdrop-filter: blur(14px);
            -webkit-backdrop-filter: blur(14px);
        }
    }

    &_tabcontent-filter-close{
        display: none;

        & img{
            filter: invert(31%) sepia(11%) saturate(0%) hue-rotate(204deg) brightness(95%) contrast(82%);
            -webkit-filter: invert(31%) sepia(11%) saturate(0%) hue-rotate(204deg) brightness(95%) contrast(82%);
            width: 15px;
        }
    }

    &_search-clear{
        height: unset;
        min-width: unset;
        border: none;
        margin-right: 10px;

        &:hover{
            border-color: none;
            background: none;
        }
    }
}

#found_main_button_modal_plus,
#found_main_button {
    background-color: var(--font-color-modal-blue);

    & img {
        filter: var(--img-button-color-white);
        -webkit-filter: var(--img-button-color-white);
    }
}

@container modal-table-task-resizable-box (max-width: 585px) {
    .button__control{
        &_action{
            &_status{
                margin-left: 0px;
                min-width: 30px;
                margin-right: -10px;
            }
            &_text{
                text-wrap: wrap;
                width: 150px;
            }
            &_date{
                width: unset;
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1440px){
    .button__control{
        &_action{
            &_status{
                margin-left: 0px;
                min-width: 30px;
                margin-right: -10px;
            }
            &_text{
                text-wrap: wrap;
                width: 100%;
            }
            &_date{
                width: unset;
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1024px){
    .button__control{
        &_tabcontent-close,
        &_tabcontent-close-archTask,
        &_tabcontent-close-shablons{
            display: flex;
        }
        &_chat_task-absolute{
            display: none;
        }
        &_tabcontent-filter-close{
            display: flex;
        }
        &_tabcontent{
            height: 45px;
            min-width: unset;
            width: 100%;
            color: var(--font-color_active);
        }
        &_search-clear{
            margin-right: 10px;
        }
        &_wrapper-filter{
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
        &_tabcontent-open-found{
            background-color: var(--font-color-modal-blue);

            & img {
                filter: var(--img-button-color-white);
                -webkit-filter: var(--img-button-color-white);
            }
        }
    }
}