.button__control{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--border);
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: inherit;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;

    &:disabled{
        cursor: no-drop;
    }

    /*&:hover{
        background-color: var(--expand-button-active);
    }*/

    &_update{
        background-color: inherit;

        &:hover{
            background-color: var(--green);
        }

        &_active{
            background-color: var(--green);
        }
    }

    &_mdel{
        background-color: inherit;

        &:hover{
            background-color: var(--red);
        }

        &_active{
            background-color: var(--red);
        }
    }

    &__img{
        height: 14px;
        filter: var(--img-button_color);
        -webkit-filter: var(--img-button_color);
    }

    &_docpost-ready{
        background-color: var(--green);

        &_img{
            filter: var(--green__img-filter);
        }

        /*&:hover{
            background-color: var(--green_hover);
        }

        &:hover &_img{
            filter: var(--green__img-filter_hover);
        }*/
    }

    &_docpost-process{
        background-color: var(--yellow);

        &_img{
            filter: var(--yellow__img-filter);
        }
        
        /*&:hover{
            background-color: var(--yellow_hover);
        }

        &:hover &_img{
            filter: var(--yellow__img-filter_hover);
        }*/
    }

    &_docpost-new{
        background-color: var(--red);

        &_img{
            filter: var(--red__img-filter);
        }

        /*&:hover{
            background-color: var(--red_hover);
        }

        &:hover &_img{
            filter: var(--red__img-filter_hover);
        }*/
    }

    &_active{
        background-color: var(--expand-button-active);
        border: none;
        outline: none;
    }

    &_active &__img {
        filter: var(--img-button_color_white);
        -webkit-filter: var(--img-button_color_white);
    }
}