.input__type-text_modal {
    max-height: 33px;
    height: 33px;
    min-width: 250px;
    max-width: 250px;
    margin-left: 10px;

    &_label{
        color: var(--font-color);
    }

    &_long {
        width: 796px !important;
        max-width: 796px !important;
        margin-right: 5px;
    }

    &_short {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
        margin-left: 10px;
    }

    &_active {
        border: 1px solid var(--expand-button-active);
    }

    &_date{
        width: 105px;
        min-width: 105px;
        max-width: 105px;
        padding: 0px 0px 0px 5px;
    }

    &_no-pen{
        background-image: none;
    }

    &_fix-width-150{
        width: 150px !important;
    }
}