.input__type-text_modal {
    max-height: 33px;
    height: 33px;
    border-bottom: 1px solid var(--border);
    margin-left: 5px;

    &:focus-visible{
        outline: none;
        border: none;
        border-bottom: 1px solid var(--border);
    }

    &_label{
        color: var(--font-color_active);

        &-task{
            min-width: 95px;
        }

        &-docpost{
            min-width: 110px;
        }
    }

    &_long {
        width: 745px !important;
        max-width: 745px !important;
        margin-right: 5px;
    }

    &_short {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
        margin-left: 10px;
    }

    &_delta{
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
        height: 20px;
        text-align: center;
        padding: 0px 0px 0px 0px;

        &-label{
            width: 91px;
        }
    }

    &_active {
        border: 1px solid var(--expand-button-active);
    }

    &_date{
        width: 105px;
        min-width: 105px;
        max-width: 105px;
        padding: 0px 0px 0px 5px;
    }

    &_no-pen{
        background-image: none;
    }

    &_fix-width-150{
        width: 150px !important;
    }
}