.input__type-date{
    width: 130px !important;
    min-width: 130px !important;
    max-width: 130px !important;
    padding: 0;
    padding-left: 28px !important;
    background-image: none;

    &:disabled{
        color: var(--font-color);
        cursor: not-allowed;
    }

    &_wrapper{
        position: relative;
        display: inline-block;
    }

    &_icon{
        position: absolute;
        left: 8px;
        top: 55%;
        transform: translateY(-50%);
        pointer-events: none;
        cursor: pointer;
        width: 15px;
        height: 18px;
    }

    &_icon-no-active{
        & img{
            filter: var(--img-color__no-active);
            -webkit-filter: var(--img-color__no-active);
            cursor: not-allowed;
        }
    }

    &_img-no-active{
        filter: var(--img-color__no-active);
        -webkit-filter: var(--img-color__no-active);
        cursor: not-allowed;
        position: relative;
        top: 0.125rem;
    }

    &_margin-left-wrapper{
        margin-left: 1.125rem;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.input__type-date-filter{
    width: 120px;
    height: 40px;
}

.input__type-date-filter + .input__type-date_icon{
    right: 8px;
}