.input__type-date{
    width: 130px;

    &_margin-left-wrapper{
        margin-left: 18px;
    }
}

.input__type-date-filter{
    width: 120px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0px 5px;
}