.select_modal {
    max-height: 35px;
    height: 35px;
    min-width: 250px;
    max-width: 250px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 1px solid var(--border);
    margin-left: 5px;

    &_active {
        border: 1px solid var(--expand-button-active);
    }

    &_max-width-unset{
        max-width: unset;
    }
}

@media (max-width: 425px) {
    .select{
        &_modal{
            max-width: unset;
            min-width: unset;
        }
    }
}