.carousel{
    padding: 0.625rem;
    border: 0.063rem solid var(--border);
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    max-width: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container{
        position: relative;
        width: 400px;
        height: 400px;
        margin-bottom: 0.625rem;
        overflow: hidden;
    }

    &__main-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        transition: transform 0.3s ease;
    }

    &__nav-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: var(--font_size-big);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: all 0.3s ease;

        &_prev{
            left: 15px;
        }

        &_next{
            right: 15px;
        }
    }

    &__container-thumbnail{
        display: flex;
        gap: 0.625rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: var(--border);
            border-radius: 0.313rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background: var(--font-color);
            border-radius: 0.313rem;
        }
    }

    &__thumbnail{
        width: 60px;
        height: 60px;
        object-fit: contain;
        cursor: pointer;
        border: 0.125rem solid transparent;
        transition: all 0.3s ease;

        &:hover{
            border-color: var(--expand-button-active);
        }

        &.active {
            border-color: var(--expand-button-active);
        }
    }
}

@media (max-width: 1024px){
    .carousel{
        margin-right: 0;
        width: 100%;
        max-height: 400px;
        
        &__container{
            width: 100%;
            height: 300px;
            max-height: 300px;
        }
    }
}

@media (max-width: 600px) {
    .main-image-container {
        height: 300px;
    }
    
    .thumbnail {
        width: 60px;
        height: 60px;
    }
}