@import url(../../#common/common.styles.scss);

.notification{
    font-size: var(--font_size);
    background-color: var(--background_second);
    border-left: 5px solid var(--green);
    box-shadow: 0 2px 10px var(--box-shadow);
    padding: 0.938rem 1.35rem;
    margin-top: 0.625rem;
    border-radius: 0.25rem;
    max-width: 300px;
    animation: slideIn 0.3s ease-out;
    position: relative;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease;

    &-container{
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1000;
    }

    &-title {
        color: var(--font-color_active);
        font-weight: bold;
        margin-bottom: 0.313rem;
    }

    &-message {
        font-size: var(--font_size);
        color: var(--font-color_active);
    }

    &-close {
        position: absolute;
        top: 0.313rem;
        right: 10px;
        background: none;
        border: none;
        font-size: var(--font_size-big);
        cursor: pointer;
        color: var(--border);
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.hide{
        transform: translateX(100%);
        opacity: 0;
    }

    &.error{
        border-left-color: var(--red);
    }

    &.warning{
        border-left-color: var(--yellow);
    }

    &.info{
        border-left-color: var(--expand-button-active);
    }
}

.notification-container-entrance .notification{
    background-color: #ffffff;
}