.sidebar__task{
    min-width: 350px;
    background-color: var(--background_first);
    border-radius: 0.313rem;
    display: flex;
    flex-direction: column;
    min-height: 848px;
    overflow: auto;
    position: static;
    margin: 0;
    padding: 0;

    &__tabcontent{
        padding-top: 0;
        width: 100%;
        min-height: 848px;
        display: flex;
        flex-direction: column;
        z-index: 0;
        overflow-y: scroll;
        overflow-x: hidden;

        &__container{
            position: relative;
        }
    }
}