.button__select{
    width: 250px;
    padding: 3px 6px;
    margin: 2.5px 0px;
    color: var(--font-color_active);
    font-size: var(--font_size);
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--expand-button-active);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}