.button__select{
    width: 100%;
    padding: 0.188rem 0.375rem;
    margin: 0.156rem 0;
    color: var(--font-color_active);
    font-size: var(--font_size);
    background-color: inherit;
    border: none;
    border-bottom: 0.125rem solid var(--expand-button-active);
    outline: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 0.3s;
}