.button__select{
    padding: 6px 9px;
    margin: 5px 0px;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--expand-button-active);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}