.input__type-file{
    display: inline-block;
    width: 200px;
    height: 27px;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}