.input__type-file{
    display: inline-block;
    width: 200px;
    height: 27px;
    cursor: pointer;
    padding-top: 0.188rem;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    background-image: none;
    margin-top: 0.375rem;

    &_title{
        border: 0.063rem solid var(--border);
        margin-top: 0.375rem;
    }
}