.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &_justify-content-flex-start + label{
        justify-content: flex-start !important;
    }
}

.checkbox + label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font_size);
    color: var(--font-color);
    cursor: pointer;
    
    &:hover{
        color: var(--font-color_active);
    }
}

.checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: 0.063rem solid #494d4f;
    border-radius: 0.125rem;
    margin: 0.188rem;
    margin-right: 0.625rem;
}

.checkbox:checked + label::before {
    border-color: var(--expand-button-active);
    background: var(--expand-button-active) url(../__type-checkbox/img/arrow.svg) no-repeat center;
}

.checkbox:checked + label {
    color: var(--font-color_active);
}