.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color_active);
    margin-bottom: 3px;
}

.checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: 1px solid var(--border);
    border-radius: 2px;
    margin: 3px;
}

.checkbox:checked + label::before {
    border-color: var(--expand-button-active);
    background: var(--expand-button-active) var(--checkbox-arrow-img) no-repeat center;
}