.select{
    color: var(--font-color_active);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: initial;
    border: none;
    height: 27px;
    width: 100%;
    border: 1px solid var(--border);

    &__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &__img{
        margin-left: 5px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__sort{
        color: var(--font-color_active);
        background-color: var(--background_second);
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0px 10px;
        height: 40px;
        width: 160px;
        border: 1px solid var(--border);
    }

    &__filter{
        display: block;
        background-color: var(--background_second);
        margin-right: 5px;
        margin-bottom: 5px;
        height: 40px;
        width: 100%;
        max-width: 170px;
        border: 1px solid var(--border);
        padding: 0px;

        &_visible .select__items{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__anchor{
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: center;
        padding: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__items{
        display: none;
        position: relative;
        z-index: 5;
        background-color: var(--background_second);
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 5px;
        list-style: none;
    }

    &__simple{
        background-color: var(--background_sidebar);
    }

    /*& option:nth-child(1){
        display: none;
    }*/

    option{
        background-color: var(--background_second);
        color: var(--font-color);
    }
}