.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background_second);
        z-index: 2;
        margin: 0px auto;
        /*border-bottom: 1px solid var(--border);*/
    }

    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        margin: 0px 10px;
    }

    &__logo{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__main-logo{
        max-width: 100%;
        width: 268px;
        height: 22px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__main-logo-little{
        display: none;
        height: 30px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__list{
        display: flex;
        position: relative;
        z-index: 2;
        align-items: center;
        margin-left: 100px;
        list-style: none;
    }

    &__link{
        margin: 0 0 0 40px;
        color: var(--font-color);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        cursor: pointer;
    }

    &__link:hover,
    &__link_check{
        text-decoration: underline solid var(--expand-button-active) 2px;
        color: var(--font-color_active);
        text-underline-offset: 14px;
    }

    &__user{
        display: flex;
        z-index: 2;

        &__container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__wrapper{
            display: flex;
            align-items: center;
            /*border: 1px solid var(--border);*/
            padding: 5px 15px;
        }

        &__container_menu-visibale &__wrapper{
            position: relative;
            top: 115px;
            border: 1px solid var(--border);
        }

        &__user{
            display: flex;
            align-items: center;
        }

        &__avatar{
            width: 17px;
            cursor: pointer;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
        }

        &__name{
            font-family: 'Roboto', sans-serif;
            color: var(--font-color);
            margin-left: 60px;
            margin-right: 5px;
            user-select: none;

            &:hover{
                text-decoration: underline var(--expand-button-active) 2px;
                color: var(--font-color_active);
                text-underline-offset: 14px;
            }
        }

        &__arrow{
            cursor: pointer;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
            margin-left: 5px;
            transition: 0.3s;
        }

        &__container_menu-visibale &__arrow{
            transform: rotate(-180deg);
            transition: 0.3s;
        }

        &__menu{
            list-style: none;
            display: none;
            background-color: var(--background_second);
            border: 1px solid var(--border);
            border-top: none;
            padding: 15px;
        }

        &__container_menu-visibale &__menu{
            display: block;
            position: relative;
            top: 114px;
        }

        &__link{
            color: var(--font-color);
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            cursor: pointer;
            padding: 0px 40.5px;
            height: 40px;
            display: flex;
            align-items: center;

            &_leave-site{
                color: var(--red);
            }
        }

        &__switch-theme{
            cursor: pointer;
            &::after{
                content: "";
                position: absolute;
                width: 17px;
                height: 17px;
                background: url("../header/img/drop_light.svg") no-repeat center;
                transition: 0.5s;
                margin-left: 20px;
                top: 15px;
            }

            &-input{
                opacity: 0;
                width: 0;
                height: 0;
            }

            &-input:checked + &::after{
                background: url("../header/img/drop_dark.svg") no-repeat center;
            }
        }
    }
}