.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background_second);
        backdrop-filter: blur(5px);
        z-index: 2;
        margin: 0px auto;
        /*border-bottom: 1px solid var(--border);*/
    }

    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        margin: 0px 10px;

        &_burger{
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 5;
    }

    &__main-logo{
        max-width: 100%;
        width: 210px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__main-logo-little{
        display: none;
        height: 30px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__list{
        display: flex;
        position: relative;
        z-index: 2;
        align-items: center;
        margin-left: 100px;
        list-style: none;

        &_burger{
            display: none;
        }
    }

    &__link{
        margin-left: 5px;
        color: var(--font-color);
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 14px;
        position: relative;
        background-color: transparent;
        text-wrap: nowrap;
    }

    &__link:hover,
    &__link_check{
        color: var(--font-color_active);
        text-decoration: underline;
    }

    /*&__link::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--font-color_active);
        transition: width 0.3s ease;
    }

    &__link:hover::after{
        width: 100%;
    }

    &__link_check::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--font-color_active);
    }*/

    &__user{
        display: flex;
        z-index: 2;

        &_burger{
            display: none;
        }

        &__container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__wrapper{
            padding: 5px 15px;
        }

        &__container_menu-visibale &__wrapper{
            position: relative;
            top: 115px;
            border: 1px solid var(--border);
        }

        &__user{
            display: flex;
            align-items: center;
        }

        &__avatar{
            width: 17px;
            cursor: pointer;
        }

        &__name{
            color: var(--font-color);
            margin-left: 60px;
            padding: 14px 5px;
            user-select: none;
            text-wrap: nowrap;
            transition: width 0.3s ease;
        }

        &__arrow{
            cursor: pointer;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
            margin-left: 5px;
            transition: 0.3s;
        }

        &__container_menu-visibale &__arrow{
            transform: rotate(-180deg);
            transition: 0.3s;
        }

        &__menu{
            list-style: none;
            display: none;
            background-color: var(--background_second);
            border: 1px solid var(--border);
            border-top: none;
            padding: 15px;
        }

        &__container_menu-visibale &__menu{
            display: block;
            position: relative;
            top: 114px;
        }

        &__link{
            color: var(--font-color);
            text-decoration: none;
            cursor: pointer;
            padding: 0px 40.5px;
            height: 40px;
            display: flex;
            align-items: center;

            &_leave-site{
                color: var(--red);
                filter: var(--img_color);
            }
        }

        &__switch-theme{
            cursor: pointer;
            &::after{
                content: "";
                position: absolute;
                width: 17px;
                height: 17px;
                background: url("../header/img/drop_light.svg") no-repeat center;
                transition: 0.5s;
                margin-left: 20px;
                top: 15px;
            }

            &-input{
                opacity: 0;
                width: 0;
                height: 0;
            }

            &-input:checked + &::after{
                background: url("../header/img/drop_dark.svg") no-repeat center;
            }
        }
    }
}

.notification-widget {
    position: relative;
    display: inline-block;

    &__icon {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
        border-radius: 50%;
        transition: background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__popup {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 8px;
        width: 400px;
        max-height: 250px;
        background: var(--background_first);
        border: 1px solid var(--border);
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        z-index: 1000;
        overflow: hidden;
    }

    &__list {
        max-height: 250px;
        overflow-y: auto;
    }

    &__badge {
        position: absolute;
        top: -4px;
        right: -4px;
        background-color: var(--red);
        color: var(--white);
        font-size: 11px;
        font-weight: bold;
        min-width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2px;
        pointer-events: none;
    }
}

.notification-item {
    padding: 5px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    transition: background-color 0.2s ease;

    &--read {
        background-color: var(--notification-msg-read);
    }

    &--unread {
        background-color: var(--notification-msg-unread);
        font-weight: 500;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2px;
    }

    &__task-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    &__date {
        font-size: 13px;
        color: var(--font-color);
    }

    &__name {
        font-size: var(--font_size);
        color: var(--font-color_active);
        margin-bottom: 5px;
        margin-top: -10px;
    }

    &__task, &__step {
        font-size: 13px;
        color: var(--font-color_active);

        &_no-task{
            display: none;
        }
    }

    &__delete {
        background: none;
        border: none;
        color: var(--font-color);
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            color: var(--red);
        }
    }
}

@media (max-width: 1200px) {
    .header{
        &__list{
            margin-left: 0px;
        }
    }
}

@media (max-width: 950px) {
    .header{
        &__main-logo{
            display: none;
        }
        &__main-logo-little{
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .header{
        &__body{
            margin: 0px 15px;
        }
        &__list{
            display: none;
        }
        &__link{
            font-size: 20px;
        }
        &__user{
            display: none;
        }
        &__list_burger{
            display: flex;
            flex-direction: column
        }
        &__user_burger{
            display: block;
        }
        &__user__switch-theme::after{
            top: 164px;

        }
        &__user__avatar{
            width: 30px;
        }
        &__user{
            &__switch-theme{
            cursor: pointer;
            &::after{
                width: 25px;
                height: 30px;
                background: url("../header/img/drop_light_big.svg") no-repeat center;
            }

            &-input:checked + &::after{
                background: url("../header/img/drop_dark_big.svg") no-repeat center;
            }
        }
        }
    }
}