.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background_second);
        z-index: 2;
        margin: 0px auto;
        /*border-bottom: 1px solid var(--border);*/
    }

    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        margin: 0px 10px;

        &_burger{
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__main-logo{
        max-width: 100%;
        width: 240px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__main-logo-little{
        display: none;
        height: 30px;
        filter: var(--img_color);
        -webkit-filter: var(--img_color);
    }

    &__list{
        display: flex;
        position: relative;
        z-index: 2;
        align-items: center;
        margin-left: 100px;
        list-style: none;

        &_burger{
            display: none;
        }
    }

    &__link{
        margin-left: 5px;
        color: var(--font-color);
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 14px;
        position: relative;
        background-color: transparent;
        text-wrap: nowrap;
    }

    &__link:hover,
    &__link_check{
        color: var(--font-color_active);
        background-color: var(--link-active);
    }

    &__link::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--link-active_decor);
        transition: width 0.3s ease;
    }

    &__link:hover::after{
        width: 100%;
    }

    &__link_check::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--link-active_decor);
    }

    &__user{
        display: flex;
        z-index: 2;

        &_burger{
            display: none;
        }

        &__container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__wrapper{
            padding: 5px 15px;
        }

        &__container_menu-visibale &__wrapper{
            position: relative;
            top: 115px;
            border: 1px solid var(--border);
        }

        &__user{
            display: flex;
            align-items: center;
        }

        &__avatar{
            width: 17px;
            cursor: pointer;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
        }

        &__name{
            color: var(--font-color);
            margin-left: 60px;
            padding: 14px 5px;
            user-select: none;
            text-wrap: nowrap;
            transition: width 0.3s ease;
        }

        &__arrow{
            cursor: pointer;
            filter: var(--img_color);
            -webkit-filter: var(--img_color);
            margin-left: 5px;
            transition: 0.3s;
        }

        &__container_menu-visibale &__arrow{
            transform: rotate(-180deg);
            transition: 0.3s;
        }

        &__menu{
            list-style: none;
            display: none;
            background-color: var(--background_second);
            border: 1px solid var(--border);
            border-top: none;
            padding: 15px;
        }

        &__container_menu-visibale &__menu{
            display: block;
            position: relative;
            top: 114px;
        }

        &__link{
            color: var(--font-color);
            text-decoration: none;
            cursor: pointer;
            padding: 0px 40.5px;
            height: 40px;
            display: flex;
            align-items: center;

            &_leave-site{
                color: var(--red);
            }
        }

        &__switch-theme{
            cursor: pointer;
            &::after{
                content: "";
                position: absolute;
                width: 17px;
                height: 17px;
                background: url("../header/img/drop_light.svg") no-repeat center;
                transition: 0.5s;
                margin-left: 20px;
                top: 15px;
            }

            &-input{
                opacity: 0;
                width: 0;
                height: 0;
            }

            &-input:checked + &::after{
                background: url("../header/img/drop_dark.svg") no-repeat center;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header{
        &__list{
            margin-left: 0px;
        }
    }
}

@media (max-width: 950px) {
    .header{
        &__main-logo{
            display: none;
        }
        &__main-logo-little{
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .header{
        &__list{
            display: none;
        }
        &__user{
            display: none;
        }
        &__list_burger{
            display: flex;
            flex-direction: column
        }
        &__user_burger{
            display: block;
        }
        &__user__switch-theme::after{
            top: 155px;
        }
    }
}