.analysis-products{
    overflow: auto;
}

.analysis-products-all{
    display: none;
    overflow: auto;
}

.switch-table{
    color: var(--font-color);
    font-size: var(--font_size);
    display: flex;
    flex-wrap: nowrap;

    &__elem{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0.5rem 0;
        margin-right: 0.625rem;
    }
}