.table__task tr:nth-child(odd) {
    background-color: var(--background_second);
    border: none;
}

.table__task tr:nth-child(even) {
    background-color: var(--background_second);
    border: none;
}

.table__task tr:nth-child(1) {
    background-color: var(--background_first);
    border: none;
}

.table__content-set{
    display: none;
    
    &_active{
        display: table;
    }
}

.table__content-prod{
    display: none;
    
    &_active{
        display: table;
    }
}

.user-tasks-content {
    &__container{
        width: 100%;
        height: 100%;
        padding-right: 1.875rem;
    }

    &__button {
        background: inherit;
        color: var(--font-color-modal-blue);
        border: none;
        outline: none;
        text-decoration: underline;
        cursor: pointer;
        height: 40px;
        font-weight: 600;

        &-block{
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    &__task-detail {
        border-radius: 0.75rem;
        overflow: hidden;
        width: 100%;
    }

    &__detail-header {
        padding: 17px 1.563rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.938rem;
        border-bottom: 0.063rem solid var(--border);
    }

    &__detail-title {
        font-size: var(--font_size-big);
        font-weight: 600;
        margin-bottom: 0.313rem;
        color: var(--font-color-modal-blue);

        &_black {
            color: var(--font-color_active);
        }
    }

    &__detail-subtitle {
        color: var(--task-content-label-grey);
        font-size: var(--font_size);
    }

    &__detail-body {
        padding: 1.563rem;
    }

    &__detail-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
        margin-bottom: 1.563rem;
        padding: 0 1.563rem;
    }

    &__info-item {
        display: flex;
        flex-direction: column;
    }

    &__info-label {
        font-size: var(--font_size);
        color: var(--task-content-label-grey);
        margin-bottom: 0.313rem;
        display: flex;
        align-items: center;
    }

    &__info-value {
        font-size: var(--font_size);
        color: var(--font-color_active);
        display: flex;
        align-items: center;
    }

    &__detail-section {
        margin-bottom: 1.563rem;
    }

    &__section-title {
        font-size: var(--font_size);
        margin-bottom: 0.938rem;
        color: var(--task-content-label-grey);
        padding-bottom: 0.5rem;
        border-bottom: 0.063rem solid var(--border);
    }

    &__available {
        text-align: center;
        padding: 1.25rem;
        background: var(--task-content-count);
        border-radius: 0.625rem;
        margin-bottom: 1.25rem;
        position: relative;

        & button {
            position: absolute;
            top: 0.938rem;
            right: 10px;
        }
    }

    &__operation-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.938rem;
    }

    &__operation-item {
        text-align: center;
        border-radius: 0.625rem;
    }

    &__operation-value {
        font-size: var(--font_size-big);
        font-weight: 600;
        margin-bottom: 0.313rem;
        color: var(--task-content-label-grey);
    }

    &__operation-label {
        color: var(--task-content-label-grey);
    }

    &__comment {
        display: flex;
        gap: 0.625rem;
        height: 63px;
        margin-bottom: 0.938rem;
        padding: 0.938rem;
        border-radius: 0.625rem;
        background: var(--task-content-comment);
        align-items: center;

        &-admin {
            border-left: 4px solid #4361ee;
        }
        
        &-executor {
            border-left: 4px solid #4cc9f0;
            padding-left: 0;
        }
    }

    &__action-group{
        display: flex;
        flex-wrap: wrap;
    }
}

.user-tasks-tabs {
    display: none;
    justify-content: space-around;
    background-color: var(--background_second);
    position: sticky;
    top: 0;
    padding: 0 0.313rem;

    &__btn{
        padding: 1.25rem 0.625rem;
        font-size: var(--font_size);
        background: none;
        border: none;
        cursor: pointer;
        color: var(--font-color);
        line-height: 0.75rem;
        transition: all 0.3s ease;
        flex: 1;
        text-align: center;
        position: relative;
        text-wrap: nowrap;

        &_no-acc.active {
        color: var(--font-color-modal-blue);
        border-bottom: 4px solid var(--font-color-modal-blue);
        }

        &_acc.active {
        color: var(--green);
        border-bottom: 4px solid var(--green);
        }

        &_part.active {
        color: var(--orange);
        border-bottom: 4px solid var(--orange_hover);
        }

        &_count{
        position: absolute;
        top: 0;
        right: 0;
        }
    }
}

.user-tasks-filter{
    display: flex;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
    justify-content: center;
}

.user-tasks-col{
    margin-left: 0.938rem;
    margin-bottom: 0.625rem;

    &__board {
        flex: 1;
        display: flex;
        gap: 0.625rem;
        height: 95%;
    }

    &__button {
        display: none;
        margin: 0 0.625rem;
        justify-content: space-between;
    }

    &__column {
        flex: 1;
        width: 380px;
        border-radius:1rem;
        overflow: hidden;
        border: 0.063rem solid var(--border);
        background: var(--task-col-col);
        box-shadow: inset 0 0.063rem 0 0 hsla(0, 0%, 100%, .1);
    }

    &__column.active {
        display: block;
    }

    &__column-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0.938rem;
        font-size: var(--font_size);

        &_no-acc{
            background: var(--task-col-no-acc);
        }

        &_acc{
            background: var(--task-col-acc);
        }

        &_part{
            background: #f9e9b1;
        }
    }

    &__column-header h3 {
        margin: 0;
        color: var(--font-color_active);
        font-weight: 400;
        font-size: var(--font_size);
    }

    &__count {
        background: var(--green);
        color: var(--font-color-button);
        padding: 0.25rem 0.5rem;
        border-radius: 0.75rem;
        font-size: var(--font_size-medium);
    }

    &__tasks {
        padding: 0 0.313rem;
        padding-top: 0.313rem;
        max-height: 100%;
        overflow-y: auto;
        padding-bottom: 3.438rem;
        gap: 0.625rem;
        display: flex;
        flex-direction: column;

        & a{
            text-decoration: none;
        }

        &::-webkit-scrollbar {
            width: 1px;
        } 
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0.063rem var(--link-active); 
        } 
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0.063rem var(--link-active_decor); 
        }
    }
}

.user-tasks-card {
    background: inherit;
    border-radius: 0.75rem;
    padding: 0.313rem 0.625rem;
    padding-bottom: 0.625rem;
    transition: all 0.3s ease;
    width: 100%;

    &:nth-child(2) { animation-delay: 0.3s; }

    &__task-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    &__task-info{
        display: flex;
        gap: 0.438rem;
        flex-direction: column;
        margin-bottom: 0.438rem;
    }

    &__task-title {
        font-size: var(--font_size);
        font-weight: 600;
        color: var(--font-color-modal-blue);
        text-wrap: nowrap;
    }

    &__priority {
        padding: 0.313rem 0.625rem;
        border-radius: 1.25rem;
        font-size: var(--font_size-small);
        max-width: 110px;
        text-align: center;
        color: var(--font-color_active);
        background: rgba(230, 57, 70, 0.1);
    }

    &__img-status{
        width: 35px;
        height: 40px;
        margin-bottom: -0.625rem;
        margin-right: -0.313rem;
    }

    &__task-product {
        display: flex;
        align-items: center;
        color: var(--task-content-label-grey);
        gap: 0.188rem;
    }

    &__task-assignment {
        margin-bottom: 0.438rem;
        font-size: var(--font_size);
        color: var(--font-color_active);
    }

    &__progress-container {
        display: flex;
        align-items: center;
        gap: 0.313rem;
        margin-bottom: 0.438rem;
        font-size: var(--font_size-medium);
        color: var(--font-color_active);
    }

    &__progress-bar {
        height: 8px;
        background: var(--block-task-coll);
        border-radius: 0.625rem;
        overflow: hidden;
        width: 100%;
    }

    &__progress-fill {
        height: 100%;
        border-radius: 0.625rem;
        transition: width 0.5s ease;
    }

    &__progress-30 {
        width: 30%;
        background: linear-gradient(90deg, #f94144, #f3722c);
    }

    &__progress-60 {
        width: 60%;
        background: linear-gradient(90deg, #f8961e, #f9c74f);
    }

    &__progress-90 {
        width: 90%;
        background: linear-gradient(90deg, #4cc9f0, #4361ee);
    }

    &__progress-100 {
        width: 90%;
        background: linear-gradient(90deg, #4cc9f0, #4361ee);
    }

    &__dates-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__dates {
        display: flex;
        gap: 1.875rem;
    }

    &__date-item {
        display: flex;
        gap: 0.188rem;
    }

    &__date-label {
        font-size: var(--font_size-medium);
        color: var(--task-content-label-grey);

        & img{
            width: 13px;
            filter: var(--img-button_color);
            -webkit-filter: var(--img-button_color);
        }
    }

    &__date-value {
        font-size: var(--font_size-medium);
        color: var(--font-color_active);
        font-weight: 600;
        text-align: center;
        margin-left: 0.313rem;
    }

    &__card-compact {
        animation: fadeIn 0.5s ease forwards;
    }

    &__pair-statuses{
        display: flex;
        flex-direction: column;
        gap: 0.313rem;
    }

    &__status {
        padding: 0.5rem 0.938rem;
        border-radius: 0.938rem;
        color: #b61f1f;
        background: #ffc4c4;
        display: flex;
        align-items: center;
        justify-content: center;

        & img{
            height: 17px;
        }
    }

    &__part {
        padding: 0.313rem 0.625rem;
        border-radius: 1.25rem;
        color: var(--font-color_active);
        font-size: var(--font_size-medium);
        background: #f9e9b1;
    }
}

@media (max-width: 1600px){
    .user-tasks-col{
        margin-left: 0.469rem;
        &__board{
            gap: 0.625rem;
        }
        &__column{
            width: 330px;
        }
    }
    .user-tasks-content__container {
        padding-right: 1.406rem;
    }
    .user-tasks-card{
        &__task-title-span,
        &__task-assignment-span{
            display: none;
        }
    }
}

@media (max-width: 1400px){
    .user-tasks-col{
        &__column{
            width: 300px;
        }
    }
    .user-tasks-card{
        padding: 0.5rem;

        &__task-info{
            flex-direction: column;
            gap: 0.313rem;
            margin-bottom: 0.313rem;
        }
    }
}

@media (max-width: 1140px){
    .user-tasks-col{
        &__column{
            width: 270px;
        }
    }
    .user-tasks-content__action-group{
        flex-direction: column;
        gap: 0.625rem;
    }
    .modal__wrapper-task-mount{
        gap: 0.313rem;
    }
}

@media (max-width: 1024px){
    .user-tasks-content{
        &__container{
            display: none;
            position: absolute;
            background: var(--task-col-background);
        }
        &__pair{
            padding-right: 0;
        }
        &__group{
            margin-right: 0;
        }
        &__detail-header,
        &__detail-body{
            padding: 1.563rem 1.875rem;
        }
        &__info-label,
        &__detail-subtitle,
        &__section-title,
        &__operation-label,
        &__info-value{
            font-size: var(--font_size);
        }
        &__task-detail{
            border-radius: 0;
        }
        &__button-block{
            display: none;
        }
    }
    .user-tasks-col{
        width: 100%;
        position: fixed;
        top: 50px;
        bottom: 0;
        margin-left: 0;

        &__column{
            display: none;
            border-radius: 0;
        }
        &__tasks {
            padding: 0 1.875rem;
            margin-top: 0.625rem;
            gap: 0;
            border-radius: 1.438rem;
            padding-bottom: 3.75rem;
        }
        &__column-header {
            display: none;
        }
        &__button{
            display: flex;
        }
    }
    .user-tasks-tabs{
        display: flex;
    }
    .user-tasks-card{
        border-radius: 0;
        padding: 0.938rem 1.25rem;

        &__dates-status{
            flex-direction: row;
        }

        &__task-info{
            flex-direction: row;
            gap: 1.25rem;
        }

        &__task-title{
            font-size: var(--font_size);
        }

        &__task-product{
            font-size: var(--font_size);
        }
    }
    .user-tasks-filter{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 37px;
        background: var(--background_second);
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 0 0.625rem;
        margin-top: 0.625rem;
    }
    .sidebar__tabcontent_task{
        padding-top: 3.438rem;
    }
    .sidebar__tabcontent_task-active{
        position: absolute;
        overflow-y: auto;
        padding: unset;
        padding-bottom: 2.813rem;
        z-index: 3;
    }
    .sidebar__link_task{
        margin: 0;
        box-shadow: 4px 4px 13px -4px var(--font-color_active);
        margin-bottom: 0.5rem;
    }
    .modal__header_task{
        box-shadow: unset;
        border-radius: 0;
        padding-top: 2.813rem;
        background: inherit;
        border: none;
    }
    .sidebar__tabcontent_task{
        position: absolute;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .button__control_modal {
        min-width: unset;
        min-height: 45px;
        width: 100%;
    }
    .sidebar__tabcontent_task-active{
        align-items: center;
        background: var(--task-col-background);
                height: 100%;
    }
    .button__control_modal {
        width: 94%;
    }
    .button__control_ready {
        height: 45px;
    }
}

@media (max-width: 660px) and (min-resolution: 1.25dppx) {
    .user-tasks-content__detail-grid{
        padding: 0 !important;
    }
}

@media (max-width: 660px){
    .user-tasks-content{
        &__detail-header{
            padding: 0.625rem 0.938rem;
            display: flex;
            justify-content: space-between;
        }
        &__detail-body {
            padding: 0.625rem 0.938rem;
        }
        &__detail-grid{
            grid-template-columns: none;
            gap: 0.625rem;
            margin-bottom: 0.938rem;
            padding: 0 0;
        }
        &__info-item{
            flex-direction: row;
            gap: 0.625rem;
        }
        &__info-label{
            width: 120px;
        }
        &__info-label-comment{
            width: 100%;
        }
        &__available{
            padding: 0.625rem 1.25rem;
            border-radius: 0;
            margin: 0 -0.938rem;

            & button{
                top: 9px;
            }
        }
        &__operation-info{
            gap: 1.25rem;
            display: flex;
            justify-content: space-evenly;
            margin-right: 3.125rem;
        }
        &__comment{
            height: 50px;
        }
    }
}

@media (max-width: 600px){
    .user-tasks-col__tasks {
        padding: 0 0.938rem;
        padding-bottom: 3.75rem;
    }
    .user-tasks-card__task-info {
        flex-direction: column;
        gap: 0.438rem;
    }
    .user-tasks-content{
        &__detail-title,
        &__operation-value{
            font-size: var(--font_size);
            margin-bottom: 0;
        }
        &__section-title{
            margin-bottom: 0;
        }
    }
}

@media (max-width: 440px){
    .user-tasks-card {
        padding: 0.5rem 0.75rem;
    }
    .sidebar__link_task {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 400px){
    .user-tasks-card{
        &__task-info{
            flex-direction: column;
            gap: 0.313rem;
            margin-bottom: 0.313rem;
        }
    }
}

@media (min-resolution: 1.25dppx) {
    .user-tasks-content{
        &__detail-body{
            padding: 0.938rem;
        }

        &__detail-grid{
            gap: 0.938rem;
            margin-bottom: 0.625rem;
            padding: 0 0.938rem;
        }

        &__detail-section{
            margin-bottom: 0.625rem;
        }

        &__detail-header{
            padding: 0.625rem 0.938rem;
        }

        &__section-title{
            margin-bottom: 0.313rem;
        }

        &__detail-title{
            font-size: var(--font_size);
        }

        &__info-item{
            flex-direction: row;
            gap: 0.938rem;
        }

        &__available{
            margin-bottom: 0.625rem;
            padding: 0.625rem 1.25rem;
        }

        &__comment{
            height: 45px;
            margin-bottom: 0.625rem;
        }
    }

    .user-tasks-col__tasks{
        gap: 0.313rem;
    }

    .user-tasks-card{
        padding: 0.313rem;
    }

    .modal__wrapper-task-mount{
        flex-direction: row;
        margin-bottom: 0.625rem;
    }
}