.table__little-product{
    border-top: none;
}

.table__little-product tr:nth-child(odd) {
    background-color: inherit;
    border-bottom: 0.063rem solid var(--border);
}

.table__little-product tr:nth-child(even) {
    background-color: inherit;
    border-bottom: 0.063rem solid var(--border);
}

.td__little-product{
    height: 25px;
    padding: 0;
    padding-left: 0.313rem;
}